.navbar{
  background-color: gray;
}


@import "bootstrap";


#logo{
  float:left;
  font-size: 1.7em;
  colour: #fff;
  text-transform: uppercase;
  letter-spacig: -1;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url("background_space.jpg");
  background-size: cover;
  height: 700px;
  style: "color: white";
}

.jumbotron h1{
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  letter-spacing: -1;
  text-align: center;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
}

.description{
  margin-top: 0px;
}

.card{
  padding-left: 15px;
}

.article-title{
  padding-top: 8x;
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.messages{
  padding-top: 15px;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

footer a:hover{
  color: #222;
}

footer small {
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

.dropdown-menu {
  text-align: left;
}

#new_label{
  text-align: center;
}

//dropdown menu: align left doesnt work
// wann muss man .etwas{} oder einfach etwas{} schreiben

//_messages=> in alerts statt X erscheint "}"
// padding_bottoom 15px for every flash



//Solved:
//<%= link_to article.title, article_path(article) %>  wann schreibt man "@article" und wann "article"?
//A: "article" is used in cas of iterating with=> for each |article|